* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
.cart-option {
  width: 10%;
  padding: 1rem;
  height: 100%;
}
.cart-option img {
  width: 70%;
}
/* Start Cart View */
.cart-view {
  width: 90%;
  box-shadow: 2px 0px 2px 0px rgb(0 0 0 / 6%);
}
.cart-view .panel-header {
  line-height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 0;
  position: relative;
  z-index: 15;
}
.cart-view .panel-header .likes {
  margin: 0 30px;
}
.cart-view .panel-header .likes span {
  font-size: 18px;
  font-weight: 500;
  color: #999;
}
.cart-view .panel-header .likes i {
  color: #ff3b3c;
  width: 18px;
  height: 18px;
  stroke: #a9abac;
  position: relative;
}
.cart-view .product-image {
  padding: 25% 0;
  text-align: center;
  position: relative;
}
.cart-view .product-image img {
  max-width: 250px;
}
.cart-view .product-actions {
  position: absolute;
  bottom: 30px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-view .product-actions .zoom-buttons {
  margin: 0 30px;
  max-height: 20px;
}
.cart-view .product-actions .zoom-buttons i {
  color: #999;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.cart-view .product-actions .right-actions {
  margin: 0 30px;
  max-height: 20px;
}
.cart-view .product-actions .right-actions span {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
}
.cart-view .product-actions .right-actions span i.active {
  color: #0023ff;
}
.cart-view .product-actions .right-actions span i {
  color: #999;
  cursor: pointer;
  transition: all 0.3s;
}
.cart-view .product-actions .right-actions span i:hover,
.cart-view .product-actions .zoom-buttons i:hover {
  color: #0023ff;
}
/* End Cart View */
.cart-option li {
  margin-top: 2rem;
}
.cart-option a {
  text-decoration: none;
  color: #bdbdbd;
  transition: 0.3s all;
}
.cart-option a:hover {
  color: #0023ff;
}
.product-info {
  background-color: #f0f0f0;
<<<<<<< HEAD
}
.copyright {
  background-color: red;
}
.copyright p,
a {
  color: #fff;
=======
>>>>>>> f70a98dea795862a265d1f4ed9912254bb672e00
}
.of {
  margin-left: 10%;
}
.of1 {
  margin-left: 10%;
  padding-bottom: 15%;
}
.pr {
  padding-top: 2%;
  font-size: 15px;
}
.num {
  color: #0023ff;
  font-size: 25px;
  font-weight: bolder;
}
.mm {
  display: flex;
}
.numdel {
  padding-left: 50px;
  margin-top: 7px;
  font-size: 15px;
}

.sel {
  border-radius: 10px;
  width: 150px;
  height: 40px;
  font-size: 10px !important;
  display: flex;
  justify-content: right;
  
}
[data-quantity] {
  position: relative;
  width: 100%;
  max-width: 11rem;
  padding: 0;
  margin: -1px -163px 86px 87px;
    border: 0;
}
[data-quantity] legend {
  display: none;
}
[data-quantity] input {
  font-size: 18px;
  height: 4rem;
  padding: 0 4rem;
  border-radius: 2rem;
  border: 0;
  background: #fff;
  color: #222;
  box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-weight: lighter; 
}
[data-quantity] input:focus {
  outline: none;
  box-shadow: 0 5px 55px -10px rgba(0, 0, 0, 0.2), 0 0 4px #3fb0ff;
}
[data-quantity] input[type="number"]::-webkit-inner-spin-button,
[data-quantity] input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
[data-quantity] input[type="number"] {
  -moz-appearance: textfield;
}
[data-quantity] button {
  position: absolute;
  width: 2.8rem;
  height: 2.8rem;
  top: 0.6rem;
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  background: #fff
    url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iNTAiPjxwYXRoIGQ9Ik0xNyAyNWgxNk02NyAyNWgxNk03NSAxN3YxNiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJyZ2IoNTksNjksNjYpIiBzdHJva2Utd2lkdGg9IjEuNXB4IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIC8+PC9zdmc+)
    no-repeat 0 0;
  background-size: 5.6rem 2.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  border-radius: 1.4rem;
  cursor: pointer;
  transition: opacity 0.15s;
  opacity: 0.5;
}
[data-quantity] button:active {
  background-position-y: 1px;
  box-shadow: inset 0 2px 12px -4px #c5d1d9;
}
[data-quantity] button:focus {
  outline: none;
}
[data-quantity] button:hover {
  opacity: 1;
}
[data-quantity] button.sub {
  left: 0.6rem;
}
[data-quantity] button.add {
  right: 0.6rem;
  background-position-x: -2.8rem;
}

.con
{
  padding-left: 200px;
}
.butt {
 width: 100px;
 margin: 0px 13px 0px 188px;
  
}
.sek
{
  padding-left: 11px;
  margin: 0px -77px -44px 64px;}


  .btn-primary 
  {

    width: 120;
  }

  [data-quantity] input {
    font-size: 18px;
    height: 4rem;
    padding: 41px -6rem;
    border-radius: 2rem;
    border: 0;
    background: #fff;
    color: #222;
    box-shadow: 0 10px 65px -10px rgb(0 0 0 / 25%);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    font-weight: lighter;
  }